/*--------------------------------------------------\
|               |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| Web-ERP - http://web-erp.sourceforge.net          |
| by Logic Works Ltd                                |
|---------------------------------------------------|
| Developer:                                        |
| Shane Barnaby                                     |
| Steve Kaill                                       |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout Web-ERP.                     |
|
\--------------------------------------------------*/

/* $Id: default.css 4218 2010-12-22 14:34:48Z tim_schofield $*/

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
}

img {
	border:none;
}

/*links before selection */
a {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;

}

/*links on any screen when mouse is hovering over them */
a:hover {
	
	text-decoration: underline;
}

table {
 
  margin: 0 auto;
}

.dpTbl {
	border: solid navy 1px;
}

div.centre {
  margin: 0 auto;
  text-align:center;
}

/*table detail items default format */
table.tabletop {
  width:90%;
  background: #eee;
  border: 0px 0px 2px 2px #222 solid;
  margin: 0 auto;
  font-size:12px;
}
table.selection {
        width:90%;
        font-size: 9.5px;
}
table.table1{
  width:90%;
  background: #FFFFFF;
  border: solid #77787B 1px;
  margin: 0 auto;
  font-size:11px;
  border-collapse:collapse;

}
table.search {
        width:90%;
}
table.table1 td, th{
     
     border: solid #77787B 1px; 
}

table.table2{

  width:90%;
  background: #FFFFFF;
  border: solid #77787B 1px;
  margin: 0 auto;
  font-size:11px;
  border-collapse:collapse;

}
table.table2 td, th{
     
     border: solid #77787B 1px; 
}

th {   
	font-weight: normal;
	color: #77787B;
}

th.number {
	text-align: right;
	font-weight: normal;
	color:#77787B;
}
td.number {
	text-align: right;
}

.EvenTableRows {
      
	background-color:  #FFFFFF;
}

.OddTableRows {
	background-color:  #FFFFFF;
}

.searchdesc{
    font-size:10px;
}



div.error {
	background-color:#fddbdb;
	color: red;
	border: 1px solid red;
}

div.warn {
	background-color:#f5dbfd;
	color: maroon;
	border: 1px solid maroon;
}

div.success {
	background-color:#b9ecb4;
	color: darkgreen;
	border: 1px solid darkgreen;
}




.header {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: none;
	margin: 0px;
	padding: 0px;
}


#footer {
	position: relative;
	bottom: -3px;
}

#checkstatus{
    height: 26px; 
    width:118px;
    background:url(../image/CheckStatus.jpg) no-repeat;
}

#searchbox{
   margin-top: 40px; 
   font-size: 12px;
}

#wrapper {
  display: block;
  padding: 0;
  width: 1150px;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4.6em;
  z-index: 99;
  
}
#content{
   background:url(../image/Body.jpg) no-repeat;
   font-family: Arial;
   color: #77787B;
 
}

#legend{
    color:#439638;
    font-size: 16px;
    font-weight: bold;
    margin-left: 85px;
  
}
.accountbalance{
    font-weight: bold;
}

#logo{
    margin-left:900px;
}

#guide{
    text-align: center;   
}